<section class="about">
  <div class="container">
    <h2 class="about__title">
      Решаем репутационные <span>проблемы любой сложности</span>
    </h2>

    <div class="about__wrapper">
      <div class="about__left">
        <p class="about__text">
          В 2010 году «Сидорин Лаб» представлял собой стартап из людей, решивших
          противостоять информационным атакам, фейковым новостям,
          медиакомпромату. При этом — помогать полезному бизнесу заявлять о себе
          в интернете. По результатам 12-ти лет можно утверждать, что мы не
          только отлично справляемся с этими задачами, но и успешно расширяем
          команду.
        </p>
        <picture>
          <source
            srcset="img/about/img-small.webp, img/about/img-small_2x.webp 2x"
            type="image/webp"
          />
          <img
            class="about__img"
            src="img/about/img-small.jpg"
            srcset="img/about/img-small_2x.jpg 2x"
            width="203"
            height="148"
            alt="img"
          />
        </picture>
      </div>
      <div class="about__middle">
        <picture>
          <source
            srcset="img/about/img-big.webp, img/about/img-big_2x.webp 2x"
            type="image/webp"
          />
          <img
            class="about__img-big"
            src="img/about/img-big.jpg"
            srcset="img/about/img-big_2x.jpg 2x"
            width="203"
            height="148"
            alt="img"
          />
        </picture>
      </div>
      <div class="about__right">
        <p class="about__text">
          В «Hide Agency» работают люди со схожими ценностями. Это значит, что
          каждый проект для нас — серьезное дело, которое мы любим и делаем
          осмысленно.
        </p>
        <button class="about__btn btn" type="button">Обсудить проект</button>
      </div>
    </div>
  </div>
</section>
