<section class="cases">
  <div class="container">
    <div class="cases__wrapper">
      <div class="cases__top">
        <h2 class="cases__title"><span>Наши_</span>работы</h2>
        <p class="cases__text">
          Любые работы по репутационному маркетингу в нашей компании в 95%
          случаев защищены рамками NDA, но мы все-таки хотим на реальных
          примерах показать вам, как работает «Hide Agancy».
        </p>
      </div>
      <ul class="cases__list">
        <li class="cases__item">
          <article class="cases-card">
            <a class="cases-card__top" href="#">
              <picture>
                <source
                  srcset="img/cases/1.webp, img/cases/1_2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="img/cases/1.jpg"
                  srcset="img/cases/1_2x.jpg 2x"
                  width="620"
                  height="392"
                  alt="cases"
                />
              </picture>
            </a>
            <div class="cases-card__body">
              <h3 class="cases-card__title">
                <a href="#"> Управление репутацией мебельной компании</a>
              </h3>
              <p class="cases-card__text">
                Разработали стратегию по управлению репутацией для мебельной
                компании, чтобы исключить недоверие потенциальных клиентов.
              </p>
            </div>
          </article>
        </li>
        <li class="cases__item">
          <article class="cases-card">
            <a class="cases-card__top" href="#">
              <picture>
                <source
                  srcset="img/cases/2.webp, img/cases/2_2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="img/cases/2.jpg"
                  srcset="img/cases/2_2x.jpg 2x"
                  width="620"
                  height="392"
                  alt="cases"
                />
              </picture>
            </a>
            <div class="cases-card__body">
              <h3 class="cases-card__title">
                <a href="#">Управление репутацией ит-компании</a>
              </h3>
              <p class="cases-card__text">
                Разработали стратегию по управлению репутацией для мебельной
                компании, чтобы исключить недоверие потенциальных клиентов.
              </p>
            </div>
          </article>
        </li>
        <li class="cases__item">
          <article class="cases-card">
            <a class="cases-card__top" href="#">
              <picture>
                <source
                  srcset="img/cases/3.webp, img/cases/3_2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="img/cases/3.jpg"
                  srcset="img/cases/3_2x.jpg 2x"
                  width="620"
                  height="392"
                  alt="cases"
                />
              </picture>
            </a>
            <div class="cases-card__body">
              <h3 class="cases-card__title">
                <a href="#">Управление репутацией нефтегазовой компанией</a>
              </h3>
              <p class="cases-card__text">
                Разработали стратегию по управлению репутацией для мебельной
                компании, чтобы исключить недоверие потенциальных клиентов.
              </p>
            </div>
          </article>
        </li>
        <li class="cases__item">
          <article class="cases-card">
            <a class="cases-card__top" href="#">
              <picture>
                <source
                  srcset="img/cases/4.webp, img/cases/4_2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="img/cases/4.jpg"
                  srcset="img/cases/4_2x.jpg 2x"
                  width="620"
                  height="392"
                  alt="cases"
                />
              </picture>
            </a>
            <div class="cases-card__body">
              <h3 class="cases-card__title">
                <a href="#">Управление репутацией интернет-магазином</a>
              </h3>
              <p class="cases-card__text">
                Разработали стратегию по управлению репутацией для мебельной
                компании, чтобы исключить недоверие потенциальных клиентов.
              </p>
            </div>
          </article>
        </li>
      </ul>
      <div class="cases__bottom">
        <a class="cases__btn" href="#"> Еще кейсы </a>
      </div>
    </div>
  </div>
</section>
