<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <div class="faq__left">
        <h2 class="faq__title">Часто задаваемые <span>вопросы</span></h2>
        <p class="faq__text">
          Имидж и репутация подвластны воздействию, если с ними работать на
          профессиональном уровне: влиять посредством инструментов SERM,
          мониторинга и своевременного реагирования.
        </p>

        <div class="faq__accordions">
          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name">
                Из чего складывается бюджет кампании?
              </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>

          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name"> Почему у вас так дорого? + </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>

          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name"> Почему у вас так дёшево? </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>

          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name">
                Почему вы не работаете с биржами текстов?
              </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>

          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name">
                Как отслеживать эффективность вашей работы?
              </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>

          <div class="faq__accordion accordion">
            <button
              class="accordion__control accordion-control-btn"
              type="button"
            >
              <span class="accordion__name">
                На сайте нет подробного прайс-листа, как вы готовите
                предложение?
              </span>
            </button>

            <div class="accordion__content accordion-content">
              <div class="accordion__inner">
                <p class="accordion__text">
                  Услуга, которое позволяет работать с репутацией бизнеса в сети
                  Интернет. SERM относится к репутационному маркетингу. Главная
                  цель этого направления — создать положительное мнение
                  пользователей о вашем бренде в поисковых системах.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <source
          srcset="img/faq-img.webp, img/faq-img_2x.webp 2x"
          type="image/webp"
        />
        <img
          class="faq__img"
          src="img/faq-img.jpg"
          srcset="img/faq-img_2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
  </div>
</section>
