<section class="numbers">
  <div class="container">
    <h2 class="numbers__title">Репутация компаний <span>в цифрах</span></h2>
    <p class="numbers__text">
      Комплекс услуг, который направлен на создание или исправление репутации в
      интернете
    </p>

    <ul class="numbers__list">
      <li class="numbers-item">
        <span class="numbers-item__number">270 <small>%</small></span>
        <p class="numbers-item__text">
          Увеличение показателя конверсии после демонстрации отзывов
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">95 <small>%</small></span>
        <p class="numbers-item__text">
          Пользователей изучают отзывы перед покупкой
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">84 <small>%</small></span>
        <p class="numbers-item__text">
          Потребителей доверяют отзывам так же, как рекомендациям знакомых
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">72 <small>%</small></span>
        <p class="numbers-item__text">
          Пользователей ничего не покупают и не заказывают, пока не прочитают
          отзывы
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">54 <small>%</small></span>
        <p class="numbers-item__text">
          Потребителей посещают сайт компании после того, как прочитали
          положительный отзыв
        </p>
      </li>
      <li class="numbers-item">
        <span class="numbers-item__number">50 <small>%</small></span>
        <p class="numbers-item__text">
          Настолько миллениалы доверяют контенту больше, чем традиционным медиа
        </p>
      </li>
    </ul>
  </div>
</section>
