<section class="prices">
  <div class="container">
    <h2 class="prices__title">Сколько <span>это стоит</span></h2>
    <p class="prices__text">
      Мы за честный подход, поэтому мы не вводим вас в заблуждение, указывая
      низкую стоимость SERM и других услуг по управлению репутацией. В таблице
      приведены средние цены, конечная стоимость рассчитываются для каждого
      проекта индивидуально.
    </p>

    <div class="prices__accordions">
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">SERM</span>
          <span class="accordion__price">от 120 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">ORM</span>
          <span class="accordion__price">от 190 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">Деиндексация</span>
          <span class="accordion__price">от 70 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">Мониторинг</span>
          <span class="accordion__price">от 50 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">Удаление информации</span>
          <span class="accordion__price">от 150 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
      <div class="prices__accordion accordion">
        <button class="accordion__control accordion-control-btn" type="button">
          <span class="accordion__name">Коммерческий SERM</span>
          <span class="accordion__price">от 170 000 ₽</span>
        </button>

        <div class="accordion__content accordion-content">
          <div class="accordion__inner">
            <p class="accordion__text">
              Услуга, которое позволяет работать с репутацией бизнеса в сети
              Интернет. SERM относится к репутационному маркетингу. Главная цель
              этого направления — создать положительное мнение пользователей о
              вашем бренде в поисковых системах.
            </p>
            <button class="accordion__btn btn" type="button">
              Обсудить проект
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
