<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__left">
        <h2 class="services__title"><span>Полный_комплекс</span> работ</h2>
        <p class="services__text">
          Имидж и репутация подвластны воздействию, если с ними работать на
          профессиональном уровне: влиять посредством инструментов SERM,
          мониторинга и своевременного реагирования
        </p>
      </div>
      <div class="services__right">
        <ul class="services__list">
          <li class="services-item">
            <span class="services-item__title">ORM</span>
            <p class="services-item__text">
              Сформируйте положительную репутацию и влюбите в себя клиентов
            </p>
            <div class="services-item__prices">
              <span class="services-item__price"> От 1 300 ₽ в час </span>
              <span class="services-item__price"> От 1 300 ₽ в час </span>
            </div>
          </li>
          <li class="services-item">
            <span class="services-item__title">SRRM</span>
            <p class="services-item__text">
              Вытесните негатив и получите идеальную поисковую выдачу.
            </p>
            <div class="services-item__prices">
              <span class="services-item__price"> От 1 300 ₽ в час </span>
              <span class="services-item__price"> От 1 300 ₽ в час </span>
            </div>
          </li>
          <li class="services-item">
            <span class="services-item__title">Мониторинг</span>
            <p class="services-item__text">
              Узнайте все, что пишут о вашем бизнесе в интернете
            </p>
            <div class="services-item__prices">
              <span class="services-item__price"> От 1 300 ₽ в час </span>
              <span class="services-item__price"> От 1 300 ₽ в час </span>
            </div>
          </li>
          <li class="services-item">
            <span class="services-item__title">Удаление информации</span>
            <p class="services-item__text">
              Нейтрализуйте скандальные публикации и плохие отзывы
            </p>
            <div class="services-item__prices">
              <span class="services-item__price"> От 1 300 ₽ в час </span>
              <span class="services-item__price"> От 1 300 ₽ в час </span>
            </div>
          </li>
        </ul>

        <a class="services__more" href="#">
          <span>Все услуги</span>

          <svg
            width="423"
            height="9"
            viewBox="0 0 423 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M422.354 4.85355C422.549 4.65829 422.549 4.34171 422.354 4.14645L419.172 0.964466C418.976 0.769204 418.66 0.769204 418.465 0.964466C418.269 1.15973 418.269 1.47631 418.465 1.67157L421.293 4.5L418.465 7.32843C418.269 7.52369 418.269 7.84027 418.465 8.03553C418.66 8.2308 418.976 8.2308 419.172 8.03553L422.354 4.85355ZM0 5H422V4H0V5Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
