<section class="why">
  <div class="container">
    <h2 class="why__title">Зачем следить <span>за_репутацией</span></h2>
    <p class="why__text">
      Любые работы по репутационному маркетингу в нашей компании в 95% случаев
      защищены рамками NDA, но мы все-таки хотим на реальных примерах показать
      вам, как работает «Hide Agancy».
    </p>

    <ul class="why__list">
      <li class="why-item">
        <span class="why-item__number">68%</span>
        <p class="why-item__text">
          потребителей прекратили бы сотрудничество с компанией, у которой
          указана некорректная информация в онлайн-каталогах
        </p>
      </li>
      <li class="why-item">
        <span class="why-item__number">69%</span>
        <p class="why-item__text">
          соискателей могут отклонить предложение, если у работодателя низкие
          рейтинги в Сети
        </p>
      </li>
      <li class="why-item">
        <span class="why-item__number">92%</span>
        <p class="why-item__text">
          потребителей доверяют рекомендациям других пользователей в интернете:
          читают форумы, ответы на вопросы, комментарии в соц сетях
        </p>
      </li>
    </ul>
  </div>
</section>
