<section class="work">
  <div class="container">
    <h2 class="work__title">
      Собираем реальные отзывы <span>от Ваших клиентов</span>
    </h2>
    <p class="work__text">Решайте негатив на уровне проблемы.</p>

    <ul class="work__list">
      <li class="work-item">
        <b class="work-item__title">Звонок</b>
        <p class="work-item__text">
          В рамках услуги связываемся с вашими реальными клиентами
        </p>
      </li>
      <li class="work-item">
        <b class="work-item__title">Если отзыв положительный</b>
        <p class="work-item__text">Спрашиваем разрешение на его публикацию</p>
      </li>
      <li class="work-item">
        <b class="work-item__title">Интервью</b>
        <p class="work-item__text">Задаем серию вопросов по чек-листу</p>
      </li>
      <li class="work-item">
        <b class="work-item__title">Если отзыв отрицательный</b>
        <p class="work-item__text">
          Выясняем, что именно не устроило клиента. Передаем информацию, чтобы
          вы могли оперативно отреагировать
        </p>
      </li>
    </ul>
  </div>
</section>
